* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #262525;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1rem 4rem;
  background: #1a1a1a;
  color: white;
}
.nav__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 0.1;
}
.nav__item {
  padding: 0.2rem 0.6rem;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

.nav__item:hover {
  color: white;
  cursor: pointer;
}

.nav__item__ctx-button {
  font-size: large;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(255, 255, 255, 0.5);
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

.nav__item-ctx {
  margin: 0;
  padding: 0;
}

.nav__item__ctx-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

main {
  background-color: #1a1a1a;
}

.main__header-head {
  color: white;
  margin-bottom: 0.4rem;
}

.main__header {
  padding: 1rem 9.5rem;
}

.main__header-desc {
  margin-top: 0.4rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main__filter {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.main__filter-search {
  flex-grow: 1;
  max-width: 18rem;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding: 10px 14px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  outline: none;
  transition: all 0.25s ease;
  font-size: large;
  /* background: #111; */
  /* optional dark bg */
  /* color: white; */
}

.main__filter-search:hover {
  border: 1px solid white;
}

.main__filter-search:focus {
  border-color: #60a5fa; /* light blue */
  box-shadow: 0 0 8px 2px rgba(96, 165, 250, 0.6);
}

.main__filter-btn {
  font-size: large;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(255, 255, 255, 0.5);
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}
.main__filter-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.btn-active {
  background-color: rgba(0, 0, 0, 0.5);
}
.main__filter-btn:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
.active-link {
  color: white;
  background-color: #0d2e22;
  border-radius: 0.4rem;
}
.main__map {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.4rem;
  height: 18rem;
  margin: 1rem auto;
  width: 80%;
  padding: 0.8rem 1rem;
}

.main__map-head {
  color: rgba(255, 255, 255, 0.6);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

.main__map-map {
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.4rem;
  height: 70%;
}

.main__destinations {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  padding: 1rem 7rem;
}

.main__top-destination {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 16rem;
  width: 16rem;
  border-radius: 1rem;
  position: relative;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.main__top-destination:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.top-destination__img {
  height: 80%;
  background: #ffa047;
  /* background: linear-gradient(
    90deg,
    rgba(255, 160, 71, 1) 0%,
    rgba(242, 136, 136, 1) 52%,
    rgba(252, 176, 69, 1) 100%
  ); */
  background-image: url("https://s7ap1.scene7.com/is/image/incredibleindia/1-umaid-bhavan-jodhpur-rajasthan-city-hero?qlt=82&ts=1726661010066");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.top-destination__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.5rem;
  height: 40%;
  background-color: rgba(38, 37, 37, 0.9);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.top-destination__about-rating {
  display: flex;
  justify-content: space-between;
}

.top-destination__about p {
  margin: 0;
}

.main__destination-rating-package {
  position: absolute;
  top: 116px;
  left: 16px;
  z-index: 2;
  border-radius: 8rem;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  font-family: sans-serif;
  font-size: medium;
  padding: 0.2rem 0.4rem;
}

/* ************ DIALOG ********************/

#destinationDialog {
  height: 64rem;
  width: 48rem;
  padding: 0;
  background: #262525;
  background: linear-gradient(
    90deg,
    rgba(38, 37, 37, 1) 0%,
    rgba(50, 49, 49, 1) 54%,
    rgba(38, 37, 37, 1) 100%
  );
  overflow: auto;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  transition: all 0.3s ease;
}
#destinationDialog::backdrop {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #000000aa, #00000044);
}

#destinationDialog::-webkit-scrollbar {
  display: none;
}

.destinationDialog__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 4px solid rgb(83, 146, 248);
  padding: 1rem;
}

.destinationDialog__header-background-img {
  background-color: #feb774;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 16rem;
  width: 100%;
}

.destinationDialog__header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.destinationDialog__header-tags {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.destinationDialog__header-head h1 {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0.2rem;
}

.destinationDialog__header-head p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0.2rem;
}

.destinationDialog__main {
  background-color: #1a1a1a !important;
  padding: 1rem;
}

.destinationDialog__main-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.destinationDialog__main-desc__rating p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.destinationDialog__main-desc__rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: rgb(2, 211, 2);
  font-size: medium;
}
.destinationDialog__main-tagslist {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.destinationDialog__main-tagslist-item {
  border: 0.8px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.4rem 0.6rem;
  border-radius: 1rem;
}
.destinationDialog__main-tabs {
  margin: 1rem;
}
.destinationDialog__main-tabs-btns {
  display: flex;
  align-items: end;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.destinationDialog__main-tabs-item {
  margin: 0;
}

.destinationDialog__main-tabs-btn {
  background-color: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 0.4rem;
  border: none;
  font-size: large;
}

.destinationDialog__main-tabs-btn:focus {
  border-bottom: 2px solid green;
  color: green;
}

.destinationDialog__main-tabs-topattractions {
  padding: 1rem;
}
.destinationDialog__main-tabs-topattractions-head {
  color: rgba(255, 255, 255, 0.8);
  font-size: large;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.destinationDialog__main-tabs-topattractions-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  row-gap: 1rem;
  column-gap: 2rem;
  padding: 0.8rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
}
.destinationDialog__main-tabs-topattraction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
  width: 12rem;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 0.4rem;
  background-color: #262525;
}

.dialog-overviewinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.8rem 1rem;
  column-gap: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.overview-quickinfo {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 1fr;
}
.overview-quickinfo p {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}
.overview-quickinfo-head {
  margin-bottom: 0.6rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0;
}
.overview-localcuisine {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.overview-localcuisine h2 {
  margin-top: 0;
  margin-bottom: 0.6rem;
  color: rgba(255, 255, 255, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.overview-localcuisine-tags {
  list-style: none;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 0.4rem;
  padding: 0;
  margin: 0;
}

.overview-localcuisine-tag {
  padding: 0.2rem 0.4rem;
  border: 1px solid orange;
  background-color: rgb(253, 224, 169);
  color: brown;
  border-radius: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.overview-localcuisine-rating {
  width: 100%;
}
.overview-localcuisine-rating p {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0.4rem;
}
.destinationDialogMonths {
  padding: 0.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.bestTimeToVisit {
  background-color: lightblue !important;
  color: blue !important;
  border: 1px solid blue;
}
.destinationDialogMonths p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
.destinationDialogMonths {
  margin-top: 0;
  padding: 0 1rem;
}
.destinationDialogMonths ul {
  list-style: none;
  display: flex;
  gap: 0.4rem;
  margin: 0.8rem 0;
  padding: 0;
}
.destinationDialogMonths li {
  padding: 0.2rem 0.6rem;
  background-color: #262525;
  color: rgba(255, 255, 255, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 1rem;
  font-size: small;
}

.destinationDialog__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #1a1a1a;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
}
.destinationDialog__footer-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  flex-grow: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.destinationDialog__footer-price p {
  color: white;
  margin: 0;
}

.destinationDialog__footer-menu {
  flex-grow: 2;
  text-align: right;
}

.destinationDialog__footer-menu button {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #262525;
  color: rgba(255, 255, 255, 0.8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.4rem 0.8rem;
  font-size: large;
  border-radius: 0.5rem;
}

.destinationDialog__footer-menu button:hover {
  background-color: #1d1c1c;
  cursor: pointer;
}

/******************* SVG :-  ********************/

.closeModal {
  background-color: transparent;
  outline: none;
  border: none;
}

svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: black;
  transition: 0.2s;
  font-size: xx-large;
}

svg:hover {
  color: red;
  transform: scale(1.2);
}

/******************* BADGES *************/

#trending {
  background-color: #feb774;
  color: brown;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
}
#ecopick {
  background-color: #feb774;
  color: brown;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
}
#unescolisted {
  background-color: #feb774;
  color: brown;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
}
#hiddengem {
  background-color: #feb774;
  color: brown;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
}
#adventure {
  background-color: #feb774;
  color: brown;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
}
#hotdeal {
  background-color: #feb774;
  color: brown;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
}
#mostpopular {
  background-color: #feb774;
  color: brown;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
}
#culture {
  background-color: #feb774;
  color: brown;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
}
#wildlife {
  background-color: #feb774;
  color: brown;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
}
#romanticgetaway {
  background-color: #feb774;
  color: brown;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
}
#bucketlist {
  background-color: #feb774;
  color: brown;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
}
#budgetfriendly {
  background-color: #feb774;
  color: brown;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
}

/* Eco score leaves */
.eco-score-row {
  display: flex;
  align-items: center;
  gap: 5px;
}
.eco-leaves {
  display: flex;
  align-items: center;
  gap: 3px;
}
.leaf {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: #1d9e75;
}
.leaf.empty {
  background: #3a3a3a;
  border: #4a4a4a;
}
.eco-label {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 3px;
}

/********** TOP ATTRACTION *********/
.topAttractionImage {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.topAttractionName {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(251, 250, 250);
  font-weight: bold;
}
.tabOverview {
  display: none;
  margin: 0;
  padding: 0;
}
.tabItinerary {
  display: none;
  margin: 0;
  padding: 0;
}
.howToReach {
  display: none;
}
.active {
  display: block;
}

.tabItinerary {
  padding: 1rem;
}
.ItineraryItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
}
.ItineraryItem {
  border: 1px solid white;
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
}
.ItineraryItemBtn {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
}

.ItineraryItem {
  padding: 0;
}
.ItineraryItem p {
  padding: 0 0.6rem;
  margin: 0.4rem;
}
.ItineraryItem-btn {
  border: none;
}
.howToReach {
  padding: 1rem;
}
.howToReach > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.howToReach li p {
  color: white;
  margin: 0.2rem;
}
.howToReachItems {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.howToReachItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.reachBy- {
  height: 4rem;
  width: 4rem;
  background-color: brown;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
}

body,
li,
button,
p,
div {
  font-family: "DM Sans", sans-serif !important;
}

h1,
h2,
.page-title,
.dest-name {
  font-family: "Playfair Display", serif !important;
}
