* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1rem 4rem;
  background: #262525;
  background: linear-gradient(
    90deg,
    rgba(38, 37, 37, 1) 0%,
    rgba(50, 49, 49, 1) 54%,
    rgba(38, 37, 37, 1) 100%
  );
  color: white;
}
.nav__items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 0.1;
  padding-right: 8rem;
}
.nav__item {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

.nav__item:hover {
  color: white;
  cursor: pointer;
}

.nav__item__ctx-button {
  font-size: large;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(255, 255, 255, 0.5);
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
}

.nav__item-ctx {
  margin: 0;
  padding: 0;
}

.nav__item__ctx-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.main__first {
  padding: 8rem;
  text-align: center;
  background: #0f9145;
  background: linear-gradient(
    90deg,
    rgba(15, 145, 69, 1) 0%,
    rgba(46, 199, 110, 1) 56%,
    rgba(66, 235, 136, 1) 82%
  );
  color: white;
}

.smart_tourism__platform {
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 4px 16px;
  border-radius: 8rem;
  letter-spacing: 2px;
  font-size: larger;
  background-color: rgba(255, 255, 255, 0.4);
}

.main__first__heading {
  font-size: 4rem;
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}

.main__first__description {
  font-size: larger;
  letter-spacing: 1px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main__first__search-inputs {
  width: 54rem;
  padding: 0.5rem;
  margin: 0 auto;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  border-radius: 8rem;
  gap: 0.1rem;
  padding-left: 0;
}
.main__first__search-item {
  border-radius: 0.5rem;
  padding: 0.7rem;
  outline: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.8);
  font-size: larger;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
#main__first__search-text {
  flex-grow: 5;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  letter-spacing: 2px;
}
#main__first__search-date {
  flex-grow: 1;
}
#main__first__search-button {
  flex-grow: 1;
  cursor: pointer;
}
.main__first__search-item:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 1);
}

.main__about__features {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 0;
  background: #262525;
  background: linear-gradient(
    90deg,
    rgba(38, 37, 37, 1) 0%,
    rgba(50, 49, 49, 1) 54%,
    rgba(38, 37, 37, 1) 100%
  );
}
.main__about__feature {
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    text-align: center;
    flex-grow: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.main__about__feature-number{
    color: rgba(46, 199, 110, 1);
    margin-bottom: 2px;
}
.main__about__feature-text{
    color: rgba(255, 255, 255, 0.4);
    margin-top: 2px;
}

.main__destinations{
    
}
.main__destinations-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}